*{
    box-sizing: border-box;
}
.header{
min-height: 124px;
display: flex;
align-items: center;
}
.header-controls{
    display: flex;
    align-items: center;/*по вертикали кнопки встали по центру*/
    justify-content: flex-end; /*уперлись в конец и от конца разрастались в лево*/
    gap: 10px; /**/
}
.header-box{
    height: 100%;
    display: flex; /*делает поведение блоков уникальным*/
    align-items: center;/*текст по центру сверху и снизу отступы одинаковые*/
    justify-content: space-between;/*элементы по краям контейнера слева и справа*/

}
.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*чтоб прилепить футер к низу и зависит от интерфейса */
}
.btn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn-primary{
    padding: 0.5em 1.5em; /* Поля по вертикали и горизонтали */
    font-size: 0.9em; /* Размер текста */
    color: #fff; /* Белый цвет текста */
    background-color: #67ada9; /* Цвет фона кнопки */
    border-width: 0; /* Убираем рамку */
    border-bottom: 4px solid #547b80; /* Линия снизу */
    border-radius: 0.4em; /* Радиус скругления */
}
.btn-outline{
    border: 1px solid #d9d9d9;
    background-color: white;
    padding: 0.5em 1.5em; /* Поля по вертикали и горизонтали */
    background-color: transparent; /* Прозрачный цвет фона */
    font-size: 0.9em; /* Размер текста */
    color: #67ada9; /* Цвет текста */
    border: 2px solid #547b80; /* Параметры рамки */
    border-radius: 0.4em; /* Радиус скругления */
}
.logo{
max-width: 100px;
max-height: 36px;
}
.logo img{
   width: 100%; 
}
.footer{
    min-height: 156px;
    display: flex;
    align-items: center;
    padding-top: 60px 0;

}
.footer-box{
    height: 100%;
    display: flex; /*делает поведение блоков уникальным*/
    align-items: center;/*текст по центру сверху и снизу отступы одинаковые*/
    justify-content: space-between;/*элементы по краям контейнера слева и справа*/  
    gap: 35px;
    flex-wrap: wrap;
}
.footer-nav{
    flex: 1;/*которое заставляет элемент растягиваться и занимать все доступное пространство. */
}
.footer-nav ul{
display: flex; /*чтоб ссылки в линию были*/
list-style: none; /*убираем точки у списка*/
align-items: center; /*ставим по центру*/
padding: 0;/*отступы 0*/
margin: 0;/**/
gap: 15px;/* расстояние между ссылками 15px*/
color: rgba(89, 89, 89, 1);
flex-wrap: wrap;/*чтоб содержимое переносилось*/

}

.footer-nav ul li{

}
.footer-nav a{
text-decoration: none;
color: rgba(89, 89, 89, 1);
line-height: normal;
font-weight: 400;
font-size: 18px;

}

.footer-social{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}
body{
    margin: 0; /*отступ за контейнером*/
    padding: 0;/*отступ в контейнере*/
}
main{
flex-grow: 1;
background: linear-gradient(180.00deg, rgba(245, 245, 245, 0) 1.042%,rgba(245, 245, 245, 1) 100%);
}
.container{
    width: 100%;
    max-width: 1230px;
    flex: center;
    margin: 0px auto; /* auto делает так чтоб отступ слева и права были одинаковыми*/
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    
}
.banner{
   margin-bottom: 56px; 
}

.banner-item{
background-image: url(/img/1str/1block/placat.jpg);
    background-repeat: no-repeat; /**/
    padding: 68px;
    background-size: cover;
  border-radius: 10px;
background-position: center right;
}
.banner-item h1{
color: rgba(48, 44, 52, 1);
font-size: 39px;
font-weight: 700;
text-align: left;
margin-bottom: 15px;
margin-top: 0;
max-width: 50%;
}
.banner-item h3{
    color: rgba(48, 44, 52, 1);
font-size: 24px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
margin: 0;
max-width: 50%;

}
.products{


}
.products-header{
    display: flex;
    align-items: center;
    justify-content: space-between;/*разбросаем контент по разным сторонам*/

}
.products-header--title{
color: rgba(0, 0, 0, 1);
font-size: 36px;
font-weight: 700;
}
.products-header--search{
color: rgba(191, 191, 191, 1);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(217, 217, 217, 1);
border-radius: 2px;
background:  rgba(255, 255, 255, 1);
min-width: 306px;
height: 34px;
padding: 5px 12px;
}
.products-header--search:focus{
    outline: none;
    border: 1px solid rgba(217, 217, 217, 1);

}
..products-header--search::placeholder{
color: rgba(191, 191, 191, 1);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}

@media (max-width 1000px) {
   .banner-item h1{
    min-width: 100%;
 }
.banner-item h3{
        min-width: 100%;
    }
}